// Color palette
$colors: (
    primary: (
        base: #00cc00,
        light: #62ff4b,
        dark: #009900
    ),
    secondary: (
        base: #005ff7,
        light: #698cff,
        dark: #0037c3
    ),
    textLight: (
        base: rgb(240, 240, 240),
        light: white,
        dark: lightgrey
    ),
    textDark: (
        base: #383838,
        light: #4D4D4D,
        dark: #000000
    )
);

@function color($color, $tone: 'base') {
    @return map-get(map-get($colors, $color), $tone);
  }

//Animations to hide some imperfections and make things cooler
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  .fadeOut {
    animation-name: fadeOut;
    animation-fill-mode: forwards;
    opacity: 1;
  }

  // Base classes
  .overlay-custom {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    padding: 0;
    z-index: -1;
  }

  .card-base {
    box-shadow: 2px 2px 3px rgba(66, 66, 66, 0.2);
  }

  .header-base {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  }

  .text-base {
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', sans-serif;
  }