// primary colors: regular, light and dark
$primaryColor: (
    (#008800, #4eb93c, #005900)
);

// secondary colors: regular, light and dark
$secondaryColor: (
    (#5b95d3, #5b95d3, #1f67a1)
);

.div {
    color: black;
}