@import './constants.scss';

.hero-image-farm { 
    background: url('../img/farm_cropped.jpg') no-repeat bottom;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: -2;
  }

.hero-logo {
    width: 55rem;
    padding-left: 10%;
}

.hero-fade-in {
    @extend .fadeIn;
    animation-duration: 2.5s;
}