@import './constants.scss';

.hero-image {
    min-height: 100vh;
    position: relative;
    z-index: 0;
  }

.hero-logo {
    width: 55rem;
    padding-left: 10%;
}

.hero-fade-in {
    @extend .fadeIn;
    animation-duration: 2.5s;
}