@import './constants.scss';

body, html {
    height: 100%;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fffcf9 !important;
}

h1 {
  @extend .header-base;
}
h2 {
  @extend .header-base;
}
h3 {
  @extend .header-base;
}
h4 {
  @extend .header-base;
}

p {
  @extend .text-base;
}

a {
  @extend .text-base;
  text-decoration: none;
}