@import './constants.scss';


.jumbotron-base {
    background-size: cover;
    color: #ccc;
    height: 100%;
    position: relative;
    z-index: -2;
}

.jumbotron-farm {
    @extend .jumbotron-base;
    background: url('../img/farm_cropped.jpg') no-repeat bottom;
}

.jumbotron-grain {
    @extend .jumbotron-base;
    background: url('../img/grain\ -\ \ Tomasz\ Filipek._croppedjpg.jpg')
}

.overlay-jumbo {
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}