@import './constants.scss';

.jumbotron-base {
    color: color(textLight, base);
    height: 30rem;
    position: relative;
    z-index: 0;

    h1 {
        font-size: 4.5rem;
        text-transform: lowercase;
    }
}

.overlay-jumbo {
    @extend .overlay-custom;
    opacity: 0.3;
}