@import 'constants.scss';

// Navbar styling
.navigation {
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
      }
      
    a{
      display: block;
      font-size: 1.1rem;
      color: color(textLight, base);
      text-decoration: none;
      position: relative;
    }

    a:hover{
        text-decoration: none;
        color: color(textLight, light);
    }
      
    a::after{
      content: "";
      background: color(textLight, light);
      mix-blend-mode: exclusion;
      width: calc(100% + 20px);
      height: 0;
      position: absolute;
      bottom: -4px;
      left: -10px;
      transition: all .3s cubic-bezier(0.445, 0.15, 0.55, 0.95);
      border-radius: 3px;
    }
      
    a:hover::after{
      height: calc(15%)
    }
}

.nav-transparent {
    background: transparent;
    transition: background-color 0.5s linear
}

.nav-colored {
    background: rgba(0, 0, 0, 0.7);
    transition: background-color 0.5s linear
}